/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

/* Default */
:root {
  --color-primary: #3b82f6;
  --color-bg: #ffffff;
  --color-text: #000000;
}

[data-theme="dark"] {
  --color-bg: #111827;
  --color-text: #ffffff;
}

@theme {
  --color-primary: var(--color-primary);
  --color-bg: var(--color-bg);
  --color-text: var(--color-text);
}

